In [13]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('data_banknote_authentication.txt', header=None)

In [16]:
df.columns = ['variance', 'skewness', 'curtosis',

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0